.home-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .logo-container {
        .main-logo {
            width: 65rem;
        }
        .logo-caption {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}